body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(131, 227, 194);
}

h1 {
  margin: 30px auto;
  border: solid black 5px;
  border-radius: 15px;
  background-color: coral;
  text-align: center;
  width: auto;
  padding: 10px 20px;
  box-shadow: inset 0 0 0 10px greenyellow;
}

a {
  display: inline-block;
  color: black;
  font-weight: bold;
  background-color: orange;
  padding: 2.5px 5px;
  border: solid black;
  border-radius: 10px;
}
a:hover {
  display: inline-block;
  text-decoration-style: wavy;
  color: blueviolet;
  background-color: whitesmoke;
  padding: 3px 4px;
}
.all-recipes {
  margin: auto;
  padding: 20px;
  border: solid black 3px;
  border-radius: 15px;
  width: auto;
  background-color: whitesmoke;
}
